<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Almacen XY</title>
<meta name="view-port" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="src/main/resources/css/bootstrap.min.css">



<style>
#personas {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#personas td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#personas tr:nth-child(even) {
	background-color: #f2f2f2;
}

#personas tr:hover {
	background-color: #00BFFF;
}

#personas th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}
</style>

</head>
<body>
	<div class="jumbotron text-center">
		<h1>Ingreso de persona al sistema</h1>
		<p>Por favor llene todos los campos</p>
	</div>
	<form th:action="@{/crearPersona}" th:object="${persona}" method="POST" />
	<input type="text" placeholder="Nombre" th:field="${persona.nombre}" />
	<input type="text" placeholder="Apellido"
		th:field="${persona.apellido}" />
	<input type="text" placeholder="Telefono"
		th:field="${persona.telefono}" />
	<input type="text" placeholder="Correo" th:field="${persona.correo}" />
	<input type="text" placeholder="Direccion"
		th:field="${persona.direccion}" />
	<input type="Submit" th:value="'Crear Persona'">
	</form>
	<br>
	<form>
		<table id="personas">
			<thead>
				<tr>
					<td>nombre</td>
					<td>apellido</td>
					<td>telefono</td>
					<td>correo</td>
					<td>direccion</td>
				</tr>
			</thead>
			<tr>
			<tbody>
				<tr th:each="persona:${personas}">
					<td th:text="${persona.nombre}"></td>
					<td th:text="${persona.apellido}"></td>
					<td th:text="${persona.telefono}"></td>
					<td th:text="${persona.correo}"></td>
					<td th:text="${persona.direccion}"></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>